body {
  font-family: "Amiko", sans-serif;
}

#wrapper {
  background-image: url(../assets/images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero {
  background-color: rgb(98, 117, 131);
}

.hero h1 {
  font-family: "Cabin", sans-serif;
  color: white;
}

#content {
  background-color: white;
}

#content .section {
  padding-bottom: 0px;
}

.media .media-left img {
  max-width: 400px;
}
