body {
  font-family: "Amiko", sans-serif;
}

#wrapper {
  background-color: hsl(0, 0%, 86%);
}

header {
  font-family: "Cabin", sans-serif;
}

#content {
  background-color: white;
}

#content .section {
  padding-bottom: 0px;
}

.media .media-left img {
  max-width: 400px;
}
