<div class="container" id="body">
	<section class="section">
		<div class="columns">
			<!-- Start of Bio -->
			<div class="column is-one-quarter">
				<div class="box">
					<article>
						<figure class="image is-4byb4" id="profile-photo">
								<img src="img/bio.jpg" alt="Coast Mountain bliss" />
						</figure>
						<div class="content">
							<p class="title is-4">Matthew Southcott</p>
							<p>
								Electrical and Mechanical Engineering Officer in the
								Canadian Armed Forces with experience working in
								maintenance management, project and operations roles
								across Canada.
							</p>
							<p>
								Interested in artificial intelligence, data science and
								full stack development for applications in defence, fleet
								maintenance and logistics.
							</p>
							<p>
								<span class="icon">
									<i class="fas fa-phone"></i>
								</span>
								(587) 281-2667
							</p>
							<p>
								<span class="icon">
									<i class="fas fa-envelope"></i>
								</span>
								<a href="mailto:mjsouthcott@gmail.com">
									mjsouthcott@gmail.com
								</a>
							</p>
						</div>
					</article>
				</div>
			</div>
			<!-- End of Bio -->
			<!-- Start of Articles -->
			<div class="column">
				<!-- Start of Article 1 -->
				<div class="box">
					<article class="columns">
						<div class="column is-two-thirds">
							<figure class="image">
								<img
									src="img/template-engine-employee-summary.PNG"
									alt="Template Engine - Employee Summary"
								/>
							</figure>
						</div>
						<div class="column">
							<div class="content">
								<p>
									<strong>Template Engine - Employee Summary</strong>
									<small>20 April, 2020</small>
								</p>
								<p>
									Command line application that takes user input and
									generates an HTML file depicting a development team.
									It demonstrates the principles of object-oriented and
									modular programming. It uses HTML5, CSS3, Bootstrap,
									Javascript, Node.js and inquirer.
								</p>
							</div>
							<nav class="level is-mobile">
								<div class="level-left">
									<a class="level-item" href="https://github.com/mjsouthcott/10-template-engine-employee-summary">
										GitHub Repository
									</a>
								</div>
							</nav>
						</div>
					</article>
				</div>
				<!-- End of Article 1 -->
				<!-- Start of Article 2 -->
				<div class="box">
					<article class="columns">
						<div class="column is-two-thirds">
							<figure class="image">
								<img
									src="img/weather-dashboard.png"
									alt="Weather Dashboard"
								/>
							</figure>
						</div>
						<div class="column">
							<div class="content">
								<p>
									<strong>Weather Dashboard</strong>
									<small>22 March, 2020</small>
								</p>
								<p>
									Displays the current weather and five-day forecast for
									a city specified by the user. Runs in the browser, and
									features dynamically updating HTML and CSS, powered by
									jQuery and the OpenWeather API.
								</p>
							</div>
							<nav class="level is-mobile">
								<div class="level-left">
									<a class="level-item" href="https://github.com/mjsouthcott/06-weather-dashboard">
										GitHub Repository
									</a>
									<a class="level-item" href="https://mjsouthcott.github.io/06-weather-dashboard">
										Deployed Application
									</a>
								</div>
							</nav>
						</div>
					</article>
				</div>
				<!-- End of Article 2 -->
				<!-- Start of Article 3 -->
				<div class="box">
					<article class="columns">
						<div class="column is-two-thirds">
							<figure class="image">
								<img
									src="img/day-planner.png"
									alt="Day Planner"
								/>
							</figure>
						</div>
						<div class="column">
							<div class="content">
								<p>
									<strong>Day Planner</strong>
									<small>15 March, 2020</small>
								</p>
								<p>
									Provides a simple calendar that allows users to save
									events for each standard business hour of the day.
									Runs in the browser, and features dynamically updating
									HTML and CSS, powered by jQuery.
								</p>
							</div>
							<nav class="level is-mobile">
								<div class="level-left">
									<a class="level-item" href="https://github.com/mjsouthcott/05-day-planner">
										GitHub Repository
									</a>
									<a class="level-item" href="https://mjsouthcott.github.io/05-day-planner">
										Deployed Application
									</a>
								</div>
							</nav>
						</div>
					</article>
				</div>
				<!-- End of Article 3 -->
			</div>
			<!-- End of Articles -->
		</div>
	</section>
</div>
