body {
  font-family: "Amiko", sans-serif;
}

#wrapper {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero,
#login-button,
#create-post-button {
  background-color: rgb(98, 117, 131);
}

.hero h1 {
  font-family: "Cabin", sans-serif;
  color: white;
}

.container#body {
  min-height: 1200px;
}

#content .section {
  padding-bottom: 0px;
}

.media .media-left img {
  max-width: 400px;
}

button#login-button,
button#create-post-button {
  color: white;
}

textarea#text-textarea {
  resize: none;
}

.box {
  border-radius: 0px;
}

#profile-photo {
  margin-bottom: 24px;
}

.hero-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

img#hero-logo {
  height: 300px;
  width: 300px;
}

a#logout-button {
  display: none;
}

.navbar-brand {
  padding-left: 24px;
}

.navbar-menu {
  padding-right: 24px;
}